nav > a{
  color: white;
}

.submenu{
  font-size: small;
}

h1, h3{
  text-align: center;
  color: aliceblue;
  margin-top: 15%;
}

h1{
  font-size: 70px;
}

h3{
  margin-top: 4%;
}

center > a{
  margin-top: 4%;
  text-align: center;
}