<%- include('../templates-chapter3/header') -%>
<body style="background-image: url('/assets/images/the-games-bg.jpg'); width: 100%; height: 100%; background-repeat: no-repeat; position: relative; background-size: 100%;">
  <link rel="stylesheet" href="/assets/css/pilihangame.css">
  
  <div class="container-fluid">
    <div class="row title">
      <div class="col-md-3">
        <p class="subtitle">What's so special</p>
        <p class="the-games">The Games</p>
        <a href="http://localhost:3000/chapter3" class="btn btn-danger pl-4 pr-4">Back</a>
        <!-- <a href="http://localhost:3000/chapter3" class="back">< Back</a> -->
      </div>
      <div class="col-md-8">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/assets/images/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
            </div>
  
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  
	<%- include('../templates-chapter3/footer') -%>