.title{
  margin-top: 17%;
  margin-left: 8%;
}

.back{
  color: whitesmoke;
  /* margin-top: -5px; */
}

.subtitle, .the-games{
  color: aliceblue;
}

.the-games{
  font-size: 48px;
  margin-top: -10%;
}