body{
  background: url('/assets/images/requirements.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

p{
  color: aliceblue;
}

.back{
  color: whitesmoke;
}

.requiremnets{
  font-size: 44px;
}

.desc{
  margin-left: -60px;
}

table, tr, td{
  border: 1px solid grey;
  color: white;
}

tr, td{
  padding: 10px;
}

table{
  border-collapse: collapse;
  /* opacity: 0.6; */
}
