<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

  <title>Challenge - Chapter 4</title>
</head>
<body>
  <header class="header">
    <a href="" style="float: left; margin-left: 10%;"><img class="bn2" src="/assets/images/refresh.png" alt="" width="30px"></a>
    <h1>Challenge - Chapter 4 | Rock Paper Scissors Game</h1>
    <a href="http://localhost:3000/home" class="btn btn-primary pl-4 pr-" style="margin-top: -75px;">Home</a>
  </header>
  <div class="containers">
    <div class="score-containers">
      <span class="user">YOU</span>
      <span id="score"></span>
      <span class="com">COM</span>
    </div>
    <div class="buttons">
      <!-- <img id="rock" class="bn" onclick="game(this.value)" value="rock" src="assets/batu.png" alt="" width="50px"> -->
      <button id="rock" class="bn" onclick="game(this.value)" value="rock"><img src="/assets/images/batu.png" alt="" width="50px"></button>
      <button id="paper" class="bn" onclick="game(this.value)" value="paper"><img src="assets/images/kertas.png" alt="" width="30px"></button>
      <button id="scissors" class="bn" onclick="game(this.value)" value="scissors"><img src="assets/images/gunting.png" alt="" width="30px"></button>
    </div>

    <div id="challenge">
      <div id="you">
        <div id="YourObject"></div>
        <div class="who">You</div>
      </div>
      <div id="result"><p id="who"><p></div>
      <div id="com">
        <div id="ComObject"></div>
        <div class="who">Computer</div>
      </div>
    </div>
  </div>

  
  <script type="text/javascript" src="assets/js/script.js"></script>

  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
  -->
</body>
</html>