<%- include('../templates-chapter3/header') -%>

<body class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-3 col-lg-5 col-md-4">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">

              <div class="p-5">
                
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Login Sistem</h1>
                </div>
                <form action="/login" method="post" class="user">
                  <div class="form-group">
                    <input type="text" name="username" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter username" required>
                  </div>
                  <div class="form-group">
                    <input type="password" name="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password" required>
                  </div>
                  <button type="submit" class="btn btn-primary btn-user btn-block">Login</button>
                </form>
                <hr>
              </div>

            </div>
          </div>
        </div>

      </div>

    </div>

  </div>


  <%- include('../templates-chapter3/footer') -%>