<%- include('../templates/header') -%>


<div class="container-fluid">
  <div class="row mb-3 mt-4">
    <div class="col-md-12">
      <a href="http://localhost:3000/user_game/create" class="btn btn-primary">Tambah User Game</a>
    </div>
  </div>

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Data User</h1>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Data User</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>No</th>
              <th>Username</th>
              <th>Password</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% 
            let no = 1;
            user_game.forEach(user => { %>
            <tr>
              <td><%= no++ %></td>
              <td><%= user.username %></td>
              <td><%= user.password %></td>
              <td>
                <a href="/user_game/edit/<%= user.id %>" class="btn btn-success btn-sm">Edit</a>
                <a href="/user_game/delete/<%= user.id %>" class="btn btn-danger btn-sm" onclick="return confirm('Yakin hapus?')">Delete</a>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

<%- include('../templates/footer') -%>




